<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar id="search-toolbar">
    <ion-searchbar placeholder="Search your product ..."></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Categorias -->
  <app-home-slide-header title="Categories"></app-home-slide-header>
  <swiper-container
    slides-per-view="2.2"
    grid-rows="1"
    mousewheel-force-to-axis="true"
  >
    <swiper-slide *ngFor="let category of categories">
      <app-category-card [category]="category"></app-category-card>
    </swiper-slide>
  </swiper-container>

  <!-- Featured Products -->
  <app-home-slide-header title="Featured "></app-home-slide-header>
  <app-product-slider [products]="featuredProducts"></app-product-slider>

  <!-- Best Selling Products -->
  <app-home-slide-header title="Best Sellers "></app-home-slide-header>
  <app-product-slider [products]="bestSellingProducts"></app-product-slider>
</ion-content>
